.hero {
    justify-content: flex-start;
}

.hero.is-light.is-bold {
    /* blue -> purple */
    background: linear-gradient(90deg, #515ada 0%, #efd5ff 100%);

    /* red -> blue */
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */

    /* purple -> grey */
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

.profile-container {
    box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
    border-radius: 3px;
    background-color: white;
    /* overflow:hidden; */
    position: relative;
    height: 360px;
    width: 290px;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.profile-text {
    padding-left: 40px;
    padding-top: 30px;
    /* background-color: blue; */
}

.age {
    padding-top: 35px;
    /* background-color: red; */
}

.profile-overlay {
    box-shadow: 0 9px 70px -40px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
    overflow:hidden;
    border-radius: 3px;
    position: absolute;
    left: -5px;
    top: 87px;
    z-index: 1000;
    transform: translateZ(20px)
}

#profile {
    height: 275px;
}