.hero {
    justify-content: flex-start;
}

.hero.is-light.is-bold {
    /* blue -> purple */
    /* background: linear-gradient(90deg, #515ada 0%, #efd5ff 100%); */

    /* purple -> grey */
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

#logo-dark {
    border-radius: 3px;
}

#hero-x {
    color: linear-gradient(106deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}

.subtitle.is-1.has-text-light {
    padding-top: 20px;
}

.profile-container {
    border-radius: 3px;
    background-color: hsl(0, 0%, 21%);
    position: relative;
    height: 370px;
    width: 270px;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.profile-text {
    padding-left: 40px;
    padding-top: 30px;
}

.age {
    padding-top: 27px;
    padding-right: 40px;
}

.profile-overlay {
    box-shadow: 0 9px 70px -40px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
    overflow:hidden;
    border-radius: 3px;
    position: absolute;
    left: -5px;
    top: 95px;
    z-index: 1000;
    transform: translateZ(20px);
}

#profile {
    height: 245px;
}

.aboutme-container {
    box-shadow: 0 9px 70px -40px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
    background-color: white;
    border-radius: 3px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.title.is-2.has-text-dark {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

#aboutme-hr {
    background: linear-gradient(105deg, rgba(29,253,179,1) 0%, rgba(246,252,69,1) 100%);
    margin: auto;
    margin-top: 2.5px;
    margin-bottom: 15px;
    width: 110px;
    height: 5px;
}

#aboutme-text {
    margin-left: 30px;
    margin-right: 30px;
}

.recent-commits-container {
    box-shadow: 0 9px 70px -40px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
    background-color: white;
    border-radius: 3px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#recent-commits-title {
    padding-top: 15px;
    margin-bottom: 2.5px;
}

#recent-commits-hr {
    background: linear-gradient(105deg, rgba(29,253,179,1) 0%, rgba(246,252,69,1) 100%);
    margin: auto;
    margin-top: 2.5px;
    margin-bottom: 15px;
    width: 265px;
    height: 5px;
}

.event-div {
    background-color: hsl(0, 0%, 96%);
    border-radius: 3px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 90%;
}

.event-div:hover {
    transform: scale(1.05);
    transition-duration: 250ms;
    box-shadow: 0 9px 70px -40px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
}

#event-commit-level {
    padding-top: 10px;
    margin-bottom: 0px;
}

.event-repo {

}

.event-message {
    padding-bottom: 10px;
    font-weight: 600;
}

.event-date {
    font-size: 12px;
    margin-right: 5px;
}

.event-time {
    font-size: 12px;
}

@media only screen and (max-width: 890px) {
    .aboutme-container {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .recent-commits-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}
